.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3f51b5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    .nav-logo {
      .Nav-header-text {
        font-size: 2rem;
        color: #fff;
      }
    }
  
    .search-relative {
      display: flex;
      align-items: center;
  
      .input-box {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
      }
  
      .search-buttn {
        background-color: #f44336;
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  
    .nav-items {
      display: flex;
      align-items: center;
  
      @media (max-width: 768px) {
        flex-direction: column;
  
        span {
          margin: 8px 0;
        }
      }
  
      span {
        cursor: pointer;
        font-size: 1rem;
        margin: 10px;
        text-decoration: none;
        color: #fff;
  
        &:hover {
          text-decoration: underline;
        }
  
        &.Login-text {
          color: #2196F3;
        }
  
        &.register-text {
          color: #4CAF50;
        }
  
        &.add-to-cart-text {
          color: #FFC107;
        }
  
        &.welcome-text {
          color: #9C27B0;
        }
  
        &.logout-text {
          color: #f44336;
        }
      }
    }
  }
  