<div class="create-book">
  <h2>Create a Book</h2>
  <form [formGroup]="bookForm" (ngSubmit)="createBook()">
    <div class="form-row">
      <div class="form-group">
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" formControlName="isbn" placeholder="ISBN" required>
      </div>

      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" formControlName="title" placeholder="Title" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" id="author" formControlName="author" placeholder="Author" required>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description" placeholder="Description" required></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="publishedYear">Published Year:</label>
        <input type="text" id="publishedYear" formControlName="published_year" placeholder="Published Year" required>
      </div>

      <div class="form-group">
        <label for="publisher">Publisher:</label>
        <input type="text" id="publisher" formControlName="publisher" placeholder="Publisher" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" formControlName="price" placeholder="Price" required>
      </div>

      <!-- Add more form controls for additional book attributes here -->

      <div class="form-group">
        <label for="coverPhoto">Upload Cover Photo:</label>
        <input type="file" id="coverPhoto" (change)="onFileSelected($event)" accept="image/*" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="category">Price:</label>
        <input type="number" id="category" formControlName="category" placeholder="category" required>
      </div>

     
    </div>

    <button type="submit">Create Book</button>
  </form>
</div>
