/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// .disabled{
//     opacity: 0.3;
//     cursor: not-allowed;
// }
body {
    margin: 0px;
    background: linear-gradient(135deg, #1a1a1a, #333333);

}