<div class="lg:w-3/12 mt-2 p-10 shadow-lg mx-auto">
    <h3 class="text-3xl text-center font-semibold py-5">Forget Password</h3>
     <form [formGroup]="forgetForm" class="flex flex-col">

        
        <div class="flex flex-col mt-4 mb-1">
            <input formControlName="email" class="p-2 border border-gray-300 rounded " type="text" placeholder="Email">
            <!-- <span class="text-red-500">*Email is required</span> -->
        </div>
        <button class="bg-indigo-500 p-2 rounded mt-3 text-white" (click)="submit()">Submit</button>
    </form>
    <div class="flex flex-col justify-center mt-5">
        <span class="flex flex-row">Register Now<a class="text-indigo-600 ml-2 cursor-pointer" routerLink="/register">Register Here</a></span> 
    </div>
</div>